@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");
@media (max-width: 500px) {
  /*Header*/
  #header {
    background-color: #1f272f;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  #divLogo {
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  #logoHeader {
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  #navHeader {
    display: none;
  }
  .div-nav-mobile {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(32, 32, 32, 0.726);
    border-bottom: 1px solid #fcc732;
    border-top: 2px solid #fcc732;
  }
  .div-nav-mobile div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .div-nav-mobile div .img-menu img {
    width: 40px;
    height: auto;
  }
  .div-nav-mobile div .titulo-menu {
    text-decoration: none;
    font-size: 10px;
    color: #fcc732;
  }
}

@media (min-width: 501px) {
  #header {
    background-color: #1f272f;
    width: 100%;
  }
  #divLogo {
    height: auto;
    text-align: center;
  }
  #logoHeader {
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  .div-nav-mobile {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(32, 32, 32, 0.726);
    border-bottom: 1px solid #fcc732;
    border-top: 2px solid #fcc732;
  }
  .div-nav-mobile div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .div-nav-mobile div .img-menu img {
    width: 40px;
    height: auto;
  }
  .div-nav-mobile div .titulo-menu {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fcc732;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
  .div-nav-mobile div .titulo-menu:hover {
    color: white;
  }
}

@media (min-width: 1024px) {
  #header {
    background-color: #1f272f;
    width: 100%;
  }
  #divLogo {
    height: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  #logoHeader {
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  .div-nav-mobile {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(32, 32, 32, 0.726);
    border-bottom: 1px solid #fcc732;
    border-top: 2px solid #fcc732;
  }
  .div-nav-mobile div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .div-nav-mobile div .img-menu img {
    width: 50px;
    height: auto;
  }
  .div-nav-mobile div .titulo-menu {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fcc732;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
  .div-nav-mobile div .titulo-menu:hover {
    color: white;
  }
}

/*****************Generales********************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #171717;
  font-family: Montserrat, sans-serif;
}

/*****************************MOBILE*********************/
@media (max-width: 500px) {
  .titulossecciones, .nuestrasedetitulo, .actividadestitulo, .planestitulo, .tituloscontacto {
    background-color: #171717;
    color: #fcc732;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /**Section 1**/
  #seccion1Index {
    margin-top: 40px;
    width: 100%;
    border-top: solid white 4px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  .seccion1div1 {
    width: 100%;
    text-align: center;
    background-image: url(../img/fondoseccion1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion1div1 img {
    width: 50%;
  }
  .seccion1div2 {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .seccion1div2 h2 {
    color: #fcc732;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 80%;
  }
  .seccion1div2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    max-width: 80%;
  }
  /***Section 2***/
  #section2Index {
    background-image: url(../img/ImagenFondoSect2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
  }
  #galeriaHome {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
  }
  #imagenGaleriaHome {
    width: 100%;
    text-align: center;
  }
  #imagenGaleriaHome img {
    width: 80%;
    height: 80%;
    border: solid 2px #fcc732;
    border-radius: 50%;
  }
  /**Section 3**/
  #section3Index {
    background-color: #fcc732;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section3Index h2 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
  }
  #section3Index p {
    color: #1f272f;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    width: 90%;
  }
  /******* Footer *******/
  #footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoFooter {
    width: 100%;
    margin: auto;
  }
  .logoFooter img {
    width: 70%;
  }
  .redesFooter {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }
  .redesFooter i {
    color: white;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /**Nuestrasede*/
  .nuestrasede {
    width: 100%;
    height: auto;
  }
  .nuestrasedetitulo {
    font-size: 30px;
  }
  .nuestrasedesection {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .div-map {
    border: #fcc732 solid 5px;
    width: 80%;
    margin: auto;
  }
  .div-map .mapa {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 100%;
    height: 300px;
  }
  .div-infosede {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  .div-infosede h2 {
    color: #fcc732;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .div-infosede h4 {
    color: #fcc732;
    font-size: 15px;
  }
  .div-infosede p {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  /****actividades****/
  .actividadestitulo {
    font-size: 30px;
  }
  .actividades {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .actividadessection {
    width: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaactividades {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  .tarjetaactividades img {
    width: 100%;
  }
  .titulo-yoga {
    color: #fcc732;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .titulo-boxeo {
    color: #0b53a5;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .titulo-zumba {
    color: blueviolet;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .titulo-localizada {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .tarjetaactividades p {
    color: #171717;
    font-size: 20px;
  }
  /****planes****/
  .planestitulo {
    font-size: 30px;
  }
  .planes {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .planessection {
    width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaplanes {
    width: 300px;
    height: 300px;
    background-color: #1f272f;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    border: solid 1px black;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: black 2px;
            box-shadow: black 2px;
  }
  .tarjetaplanes:hover {
    border: #fcc732 solid 2px;
  }
  .planessection div h2 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
  }
  .planessection div p {
    font-size: 15px;
    color: white;
  }
  .btn-pagar {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    cursor: pointer;
    background-color: #fcc732;
    text-decoration: none;
  }
  .btn-pagar:hover {
    background-color: transparent;
    border: 1px solid white;
  }
  .aclaracion-pagos {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .aclaracion-pagos p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: italic;
  }
  .aclaracion-pagos p a {
    text-decoration: none;
    color: #fcc732;
  }
  /****contacto****/
  .tituloscontacto {
    font-size: 30px;
  }
  .contacto {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .caja-formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 40px;
  }
  .titulo-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #171717;
    text-align: center;
    gap: 10px;
  }
  .titulo-form img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .titulo-form p {
    color: #fcc732;
    font-size: 15px;
    margin: auto;
  }
  .formcontainer {
    width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contactof {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
  }
  .contactof div {
    margin-top: 15px;
  }
}

/*************************TABLET******************/
@media (min-width: 501px) {
  /**Section 1**/
  .titulossecciones-tablet, .nuestrasedetitulo, .actividadestitulo, .planestitulo, .tituloscontacto {
    background-color: #171717;
    color: #fcc732;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #seccion1Index {
    margin-top: 40px;
    width: 100%;
    border-top: solid white 4px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-image: url(../img/fondoseccion1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .seccion1div1 {
    width: 100%;
    text-align: center;
  }
  .seccion1div1 img {
    width: 70%;
  }
  .seccion1div2 {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .seccion1div2 h2 {
    color: #fcc732;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 90%;
  }
  .seccion1div2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    max-width: 90%;
    text-align: center;
  }
  /***Section 2***/
  #section2Index {
    background-image: url(../img/ImagenFondoSect2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
  }
  #galeriaHome {
    /* width:100%; */
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px;
  }
  #imagenGaleriaHome {
    width: 100%;
    text-align: center;
  }
  #imagenGaleriaHome img {
    width: 80%;
    height: 80%;
    border: solid 2px #fcc732;
    border-radius: 50%;
  }
  /**Section 3**/
  #section3Index {
    background-color: #fcc732;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section3Index h2 {
    color: #171717;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
  }
  #section3Index p {
    color: #1f272f;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    width: 90%;
  }
  /******* Footer *******/
  #footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoFooter {
    width: 100%;
    margin: auto;
  }
  .logoFooter img {
    width: 60%;
  }
  .redesFooter {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }
  .redesFooter i {
    color: white;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /**Nuestrasede*/
  .nuestrasede {
    width: 100%;
    margin-bottom: 30px;
  }
  .nuestrasedetitulo {
    font-size: 35px;
  }
  .nuestrasedesection {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .div-map {
    border: #fcc732 solid 5px;
    width: 80%;
    margin: auto;
  }
  .div-map .mapa {
    margin-left: -10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 100%;
    height: 300px;
  }
  .div-infosede {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .div-infosede h2 {
    color: #fcc732;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .div-infosede h4 {
    color: #fcc732;
    font-size: 15px;
  }
  .div-infosede p {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  /****actividades****/
  .actividadestitulo {
    font-size: 35px;
  }
  .actividades {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .actividadessection {
    width: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaactividades {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  .tarjetaactividades img {
    width: 100%;
  }
  .titulo-yoga {
    color: #fcc732;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .titulo-boxeo {
    color: #0b53a5;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .titulo-zumba {
    color: blueviolet;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .titulo-localizada {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .tarjetaactividades p {
    color: #171717;
    font-size: 20px;
  }
  /****planes****/
  .planestitulo {
    font-size: 35px;
  }
  .planes {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 200px;
  }
  .planessection {
    width: 80%;
    margin: auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaplanes {
    width: 100%;
    height: 300px;
    background-color: #1f272f;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: black 2px;
            box-shadow: black 2px;
  }
  .tarjetaplanes:hover {
    border: #fcc732 solid 2px;
  }
  .planessection div h2 {
    font-size: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
  }
  .planessection div p {
    font-size: 15px;
    color: white;
  }
  .btn-pagar {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    cursor: pointer;
    background-color: #fcc732;
    text-decoration: none;
  }
  .btn-pagar:hover {
    background-color: transparent;
    border: 1px solid white;
  }
  .aclaracion-pagos {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .aclaracion-pagos p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: italic;
  }
  .aclaracion-pagos p a {
    text-decoration: none;
    color: #fcc732;
  }
  /****contacto****/
  .tituloscontacto {
    font-size: 35px;
  }
  .contacto {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .caja-formulario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 40px;
  }
  .titulo-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #171717;
    text-align: center;
    gap: 10px;
  }
  .titulo-form img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .titulo-form p {
    color: #fcc732;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .formcontainer {
    width: 80%;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
  }
  .contactof {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
  }
  .contactof div {
    margin-top: 15px;
  }
}

/*************************DESKTOP******************/
/*****Header****/
@media (min-width: 1024px) {
  .titulossecciones-desktop, .nuestrasedetitulo, .actividadestitulo, .planestitulo, .tituloscontacto {
    background-color: #171717;
    color: #fcc732;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #header {
    background-color: #1f272f;
    width: 100%;
  }
  #divLogo {
    height: auto;
    text-align: center;
  }
  #logoHeader {
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  #navHeader {
    background-color: rgba(32, 32, 32, 0.726);
    border-bottom: 1px solid #fcc732;
    border-top: 2px solid #fcc732;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #navHeader ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  #navHeader ul li {
    list-style: none;
  }
  #navHeader ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  #navHeader ul li a:hover {
    color: #fcc732;
  }
  /**Section 1**/
  #seccion1Index {
    margin-top: 60px;
    width: 100%;
    border-top: solid white 4px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-image: url(../img/fondoseccion1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .seccion1div1 {
    width: 100%;
    text-align: center;
  }
  .seccion1div1 img {
    width: 70%;
  }
  .seccion1div2 {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .seccion1div2 h2 {
    color: #fcc732;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 80%;
  }
  .seccion1div2 p {
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    max-width: 80%;
  }
  /***Section 2***/
  #section2Index {
    background-image: url(../img/ImagenFondoSect2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
  }
  #galeriaHome {
    width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px;
  }
  #imagenGaleriaHome {
    width: 100%;
  }
  #imagenGaleriaHome :hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  #imagenGaleriaHome img {
    width: 80%;
    height: 80%;
    border: solid 2px #fcc732;
    border-radius: 50%;
  }
  /**Section 3**/
  #section3Index {
    background-color: #fcc732;
    /*margin-top: 60px;
    margin-bottom: 60px;*/
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section3Index h2 {
    color: #171717;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
  }
  #section3Index p {
    color: #1f272f;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    width: 90%;
  }
  /******* Footer *******/
  #footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoFooter {
    width: 100%;
    margin: auto;
  }
  .logoFooter img {
    width: 40%;
  }
  .redesFooter {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    cursor: pointer;
  }
  .redesFooter i {
    color: white;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /**Nuestrasede*/
  .nuestrasede {
    width: 100%;
    margin-bottom: 30px;
  }
  .nuestrasedetitulo {
    font-size: 45px;
  }
  .nuestrasedesection {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .div-map {
    border: #fcc732 solid 5px;
    width: 80%;
    margin: auto;
  }
  .div-map .mapa {
    margin-left: -10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 100%;
    height: 300px;
  }
  .div-infosede {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .div-infosede h2 {
    color: #fcc732;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .div-infosede h4 {
    color: #fcc732;
    font-size: 20px;
  }
  .div-infosede p {
    color: white;
    font-size: 25px;
    text-align: center;
  }
  /****actividades****/
  .actividadestitulo {
    font-size: 45px;
  }
  .actividades {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .actividadessection {
    width: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaactividades {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }
  .tarjetaactividades img {
    width: 100%;
  }
  .titulo-yoga {
    color: #fcc732;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .titulo-boxeo {
    color: #0b53a5;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .titulo-zumba {
    color: blueviolet;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .titulo-localizada {
    color: red;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .tarjetaactividades p {
    color: #171717;
    font-size: 15px;
    font-weight: 400;
  }
  /****planes****/
  .planestitulo {
    font-size: 45px;
  }
  .planes {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 200px;
  }
  .planessection {
    width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tarjetaplanes {
    width: 300px;
    height: 400px;
    background-color: #1f272f;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: black 2px;
            box-shadow: black 2px;
  }
  .tarjetaplanes:hover {
    border: #fcc732 solid 2px;
  }
  .planessection div h2 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
  .planessection div p {
    font-size: 15px;
    color: white;
  }
  .btn-pagar {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    cursor: pointer;
    background-color: #fcc732;
    text-decoration: none;
  }
  .btn-pagar:hover {
    background-color: transparent;
    border: 1px solid white;
  }
  .aclaracion-pagos {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .aclaracion-pagos p {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: italic;
  }
  .aclaracion-pagos p a {
    text-decoration: none;
    color: #fcc732;
  }
  /****contacto****/
  .tituloscontacto {
    font-size: 45px;
  }
  .contacto {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .caja-formulario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 40px;
  }
  .titulo-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #171717;
    text-align: center;
    gap: 10px;
  }
  .titulo-form img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .titulo-form p {
    color: #fcc732;
    font-size: 25px;
  }
  .formcontainer {
    width: 80%;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
  }
  .contactof {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
  }
  .contactof div {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */